{{ $config := .Site.Data.config }}
<section class="skin">
  <span class="float-right">
    <a href="{{ "blog" | relURL}}">
      <img width="30px" src="{{ "images/right-arrow.svg" | relURL }}" alt="">
    </a>
  </span>
  <h2 class="heading">
    <a href="{{ "blog" | relURL}}" class="text-dark">Blog</a>
  </h2>

  <div class="">
    {{ range first $config.indexBlogCount (where (where .Site.Pages "Section" "blog") ".Title" "!=" "Blogs" )}}
    <article class="mb-3">
        <div class="row no-gutters bg-white p-4 rounded">
          <div class="col-12 col-lg-6 col-sm-12 col-md-6">
              {{ if .Params.featured_image }}
                <a href="{{ .Permalink }}">
                  <div class="featuredImage rounded" style="background-size:cover;background-position:center;background-image: url('{{ print "images/blog/" .Params.featured_image | relURL }}'); height: 200px;background-color:#fbfbfb;">
                  </div>
                </a>
              {{ end }}
          </div>
          <div class="col-12 col-lg-6 col-sm-12 col-md-6 pl-3">
            <small class="text-muted">{{.Date.Format "Jan 2, 2006"}}</small>
          <h2 class="heading mb-0 h3"><a class="text-dark" href="{{.Permalink}}">{{.Title}}</a></h2>
          <small class="text-muted" style="text-transform:uppercase">{{ if .Params.categories }}
              <span>        
                {{ range .Params.categories }}
                  <span class="badge badge-light">{{ title . }}</span>
                {{ end }}
              </span>
              {{ end }}
            </small>
          </div>
        </div>
      </article>
    
    {{ end }}
  </div>
</section>
