{{ template "_internal/google_analytics_async.html" . }}
</body>

{{- $jquery := resources.Get "jquery-3.3.1.min.js" -}}
{{- $bootstrap := resources.Get "bootstrap-4.1.3-dist/js/bootstrap.bundle.min.js" -}}
{{- $highlight := resources.Get "highlight.pack.js" -}}
{{- $main_js := resources.Get "main.js" | minify -}}
{{- $scripts := (slice $jquery $bootstrap $highlight $main_js) | resources.Concat "js/bundle.js" | fingerprint }}
<script src="{{ $scripts.Permalink }}" integrity="{{ $scripts.Data.Integrity }}" crossorigin="anonymous"></script>
</html>