{{ $basicInfo := .Site.Data.sidebar }}

<nav class="navbar navbar-expand-lg navbar-light bg-white mt-lg-0 mt-3" style="position:relative">
    <a id="menuBar" href="#0" class="bg-white" style="cursor: pointer; position: absolute; height: 22px; width: 30px;">
        <div class="hamburger-menu"></div>
    </a>

    <div class="secondaryMenu p-3 bg-white">
        <div class="">
            {{ range .Site.Menus.main }}
            <a href="{{ .URL | absURL }}"><h4 class="d-inline-block mr-3 text-dark mb-0">{{ .Name }}</h4></a>
            {{ end }}
        </div>
    </div>

    <span class="mr-auto primaryMenu active">
		<a class="navbar-brand ml-auto" href="{{ .Site.BaseURL }}">
			<img style="width:40px" src="{{ print "images/" $basicInfo.displayPicture | relURL }}" alt="" class="rounded-circle mr-2">
			<span style="font-size: 20px" class="heading">{{ $basicInfo.highlightedText }}</span>
		</a>
	</span>
    <div class="collapse navbar-collapse float-right socialMenu">
        <div class="navbar-nav mr-auto"></div>

        {{ range .Site.Menus.social }}
        <a class="text-dark" href="{{ .URL }}">{{ .Pre }}<span>{{ .Name }}</span></a>
        {{ end }}
    </div>
</nav>